.hero__info {
  width: 100%;
  background-color: #73AD21;
}
.hero__categories{
  width: 70%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.hero__browse {
  position: relative;
  padding: 20px;
  width: 270px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #539309;
}
.hero__navlinks {
  padding: 20px 0;
  cursor: pointer;
}
.hero__menu-icon {
  position: relative;
  top: 1px;
  font-size: 20px;
  margin-right: 6px;
}
.hero-navlink-text {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  padding: 0;
}
.hero__call {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.hero__call:hover {
  color: #fff;
}
.hero__call-icon {
  font-size: 20px;
  margin-right: 6px;
}
.hero__browse-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 20px;
  border: 2px solid #539309;
  background-color: #fff;
}
.hero__browse-link {
  padding: 6px 0;
  font-size: 15px;
  font-weight: 500 !important;
  border-bottom: 0.5px solid #ccc;
  color: #333;
}
.hero__browse-icon {
  margin-right: 10px;
}
.hero__browse-text {
  font-weight: 400 !important;
  text-transform: capitalize;
}
.carusel-img {
  width: 100%;
  height: 520px !important;
}
.carousel-item {
  position: relative;
}
.carousel {
  position: relative;
}
.carousel-control-prev {
  position: absolute;
  left: 20px;
  width: 5% !important;
}
.carousel-control-next {
  position: absolute;
  right: 20px;
  width: 5% !important; 
}
.carusel-left {
  color: #000;
  font-size: 30px;
}
.carusel-right {
  color: #000;
  font-size: 30px;
}
.sliderimg {
  width: 370px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  top: 0%;
  right: 10%;
  animation-name: imgslider;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes imgslider {
  0% {
    top: 0%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

.slider-onfo {
  position: absolute;
  left: 30%;
  top: 15%;
  width: 340px;
}
.slider-info-n {
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  color: #0062bd;
  position: relative;

  animation-name: sliderspan;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes sliderspan {
  0% {
    right: 60px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.slider-info-text {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #0a0000;
  position: relative;

  animation-name: slidertext;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes slidertext {
  0% {
    left: 70px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.slider-procent {
  color: #EF4B11;
}
.slider-info-btn {
  background-color: #5FA30F;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  padding: 8px 20px;
  border: none;
  position: relative;

  animation-name: sliderbtn;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.slider-info-btn:hover {
  background-color: #508a0e;
}
@keyframes sliderbtn {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.slider-f-btn {
  background-color: #508a0e !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50%;
}
.hero-respond-menu {
  display: none;
}
.hero-respond-menu p{
  margin-left: 8px;
}
.hero__respond-icon {
  display: none;
}
.hero-close-menu {
  display: none;
}




@media screen and (max-width:1260px){
  .slider-onfo {
    left: 35%;
  }
}
@media only screen and (max-width:960px){
  .hero__browse-menu {
    display: none;
  }
  .hero__browse:hover .hero__browse-menu {
    display: block;
  }
  .hero__browse {
    width: 300px;
    margin-right: 30px;
  }
  .slider-onfo {
    left: 20%;
  }
  .hero__browse-link {
    font-size: 13px;
  }
  .hero__browse-text {
    font-size: 13px;
  }
  .hero-navlink-text {
    font-size: 13px;
  }
  .hero__call {
    display: none;
  }
  .hero__categories {
    width: 100%;
    font-size: 14px;
  }
}

@media only screen and (max-width:720px){
  .hero__categories {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -77%;
    top:  0px;
    z-index: 1005;
    background-color: #fff;
    width: 70%;
    height: 100vh;
    padding: 20px;
    transition: all 0.4s;
    justify-content:unset;
    align-items: unset;
    z-index: 1008;
    color: #333;
  }
  .hero__navlinks {
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
  }
  .hero-respond-menu {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #EFEFEF;
  }
  .hero__menu-icon {
    display: none;
  }
  .hero__browse {
    position: relative;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
    justify-content: space-between;
  }
  .hero__respond-icon {
    display:inline-block;
  }
  .hero-close-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -25px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1000;
    transition: all 0.4s;
    border:0.5px solid #ccc;
    background-color: #fff;
    box-shadow: -2px 1px 17px -1px rgba(34, 60, 80, 0.2);
  }
  .hero-close-menu:hover {
    background-color: #73AD21;
    color: #fff;
  }
}
@media only screen and (max-width:540px){
  .slider-info-n {
    font-size: 12px;
  }
  .slider-info-text {
    font-size: 24px;
  }
  .hero__navlinks {
    padding: 14px 0;
  }
  .hero-respond-menu {
    padding: 14px 0;
    margin-bottom: 14px;
    font-size: 16px;
  }
  .hero__browse {
    padding: 0 0 14px 0;
  }
  .hero-close-menu {
    right: -20px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .slider-onfo {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 300px;
  }
}








.hero-menu-show {
  left: 0;
}