.arrivals {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #F4F4F4;
}
.arrivals__name {
  font-size: 24px;
  color: #333;
}

.arrivals__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
  justify-content: space-between;
}

.arrivals__link {
  width: 30%;
  margin-bottom: 25px;
  transition: all 0.3s;
  text-decoration: none;
}
.arrivals__list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrivals-show-el {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  cursor: pointer;
}
.arrivals__list-cntn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:  30px;
  height: 30px;
  padding: 5px;
  z-index: 2;
  transition: all 0.3s;
  color: transparent;
  background-color: transparent;
}
/* arrivals__link */
.arrivals__link:hover .arrivals__list-cntn{
  color: #000;
  background-color: #fff;
}
.arrivals__list-cntn:hover {
  background-color: #73AD21 !important;
  color: #fff !important;
}
.arrivals-show-icon {
  width: 14px;
  height: 14px;
}
.arrivals__show-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: transparent;
}
.arrivals__link:hover .arrivals__show-bg{
  background-color: rgba(0, 0, 0, 0.207);
}
.arrivals__info {
  display: flex;
  flex-direction: column;
}
.arrivals__list-title {
  font-size: 16px;
  cursor: pointer;
  color: #000;
}
.arrivals__list-title:hover {
  color: #73AD21;
}
.arrivals__list-prices {
  display: flex;
  align-items: center;
}
.arrivals__list-discount {
  font-size: 15px;
  color: #aaa;
  text-decoration: line-through;
}
.arrivals__list-price {
  font-size: 15px;
  color: #000;
  margin-left: 10px;
  font-weight: 600;
}

.arrival-cart {
  margin-bottom: 60px;
}
.arrival-cart-item {
  cursor: pointer;
}
.arrival-cart-icon {
  width: 40px;
  height: 43px;
  color: #73AD21;
  margin-right: 14px;
}
.arrival-cart-info {
  display: flex;
  flex-direction: column;
}
.arrival-cart-name {
  font-size: 17px;
  color: #333;
}
.arrival-cart-text {
  font-size: 15px;
  color: #999;
}

@media only screen and (max-width:960px){
  .arrivals__link {
    width: 40%;
    margin-bottom: 20px;
  }
  .arrival-cart {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .arrival-cart-item {
    width: 30%;
    margin: 10px 0;
  }
}
@media only screen and (max-width:540px){
  .arrivals__link {
    width: 100%;
    margin-bottom: 18px;
  }
  .arrival-cart-item {
    width: 100%;
  }
}