.header{
  position: relative;
}
.header__content {
  margin: 45px 0;
}
.header__form {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px;
  overflow: hidden;
}
.header__search {
  border: none;
  outline: none;
  padding-left:16px;
  width: 85%;
}
.header__btn {
  width: 13%;
  height: 100%;
  border: none;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #81B537;
}
.header__btn-text {
  margin-right: 4px;
}
.header__shoppings {
  width: 10%;
  font-size: 30px;
}
.header__shoppings .bx-heart {
  position: relative;
  margin-left: 12px;
  cursor: pointer;
  font-weight: 500;
}
.header__shoppings .bx-shopping-bag {
  position: relative;
  cursor: pointer;
}
.shop-num {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 13px;
  /* font-weight: 600; */
  padding-bottom: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #73AD21;
  color: #fff;
}


.searching {
  position: absolute;
  top: 45px;
  left: 49%;
  width: 58.5%;
  transform: translate(-49.5%);
  z-index: 1001;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0px 1px 10px 2px rgba(34, 60, 80, 0.2);
}
.searching__content {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  padding: 3px;
  text-decoration: none;
  color: #333;
}
.searching__content:hover {
  background-color: #F9F9F9;
  color: #333;
}
.searching__img {
  width: 55px;
  height: 55px;
  margin-right: 5px;
  background-color: #F9F9F9;
}
.searching__info {
  display: flex;
  flex-direction: column;
}
.searching__name {
  font-size: 14px;
  font-weight: 600;
}
.searching__name:hover {
  color: #73AD21;
}
.searching__prices {
  display: flex;
  align-items: center;
}
.searching__discountprice {
  font-size: 13px;
  text-decoration: line-through;
  margin-right: 5px;
  color: #aaa;
}
.searching__price {
  font-size: 13px;
  font-weight: 500;
}
.header-respond {
  display: none;
  width: 50px;
  justify-content: space-between;
}
.header-respond  button {
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.header-res-form {
  display: none;
  position: absolute;
  top: -170px;
  left: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  transition: all 0.6s;
  z-index: 1006;
  opacity: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-res-form input {
  border: none;
  outline: none;
  width: 92%;
  padding: 8px;
  border-radius: 3px;
  background-color: #F5F5F5;
}
.header-res-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 11px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  background-color: #F5F5F5;
}

@media screen and (max-width:960px){
  .header__btn {
    width: 20%;
    font-size: 14px;
  }
  .header__form {
    width: 60%;
  }
}
@media screen and (max-width:720px){
  .header__form{
    display: none;
  }
  .header-respond {
    display: flex;
    align-items: center;
  }
  .header-res-form {
    display: flex;
  }
  .header__shoppings{
    width: 20%;
  }

}
@media screen and (max-width:520px) {
  .searching {
    width: 100% !important;
  }
}
.d-none {
  display: none;
}

.header-res-form-show {
  top: 0px;
  opacity: 1;
}